mixin footer
  // Пример трех-колоночного футера, не ломающимся на адаптиве.
  table(bgcolor="#ffffff" align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="max-width: 636px; margin: 0 auto;").wrapper
    tbody
      tr
        td(valign="top" align="left" width="100%" style="padding: 52px 18px 18px;")
          table(style="table-layout: fixed !important;" width="100%" cellspacing="0" cellpadding="0" border="0").footer
            tbody
              tr
                td(width="100%" valign="top")
                  p С&nbsp;уважением,<br> Строительная база &laquo;София&raquo;
              tr
                td(width="100%" valign="top").footer__tel
                  p <a href="tel:+78122095038">812 209-50-38</a>&nbsp;&mdash; отдел доставки
              tr
                td(width="100%" valign="top")
                  p <a href="tel:+79119527647">911 952-79-47</a>&nbsp;&mdash; служба заботы о&nbsp;покупателях
              tr
                td(width="100%" valign="top")
                  a(href="mailto:info@sofbaz.ru") info@sofbaz.ru
              tr
                td(width="100%" valign="top")
                  a(href="sofbaz.ru" target="_blank") sofbaz.ru

