// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-grey:                        #333333;
$color-blue:                        #00529C;

$color-text:                        #0D0D0D;
$color-link:                        #177EE6;
$color-goods:                       #0048BB;
$color-border:                      #E6E6E6;
$color-light-grey:                      #666666;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482


// Viewports
// ---------------------------------

$vp-400:                            400px;
